<script setup lang="ts">
import 'bootstrap/dist/css/bootstrap.css';
import { ref, inject } from 'vue';
import loginApi from '@/api/login.api';
import { useRouter } from 'vue-router';
import checkExistedSessionApi from '@/api/checkExistedSession.api';

const router = useRouter();
const email = ref("");
const password = ref(""); 
const error = ref("");
const login = async () => {
    error.value = "";
    const response = await loginApi(email.value, password.value);
    if(!response.ok){
      error.value = response.detail;
      return;
    }
    console.log(response);
    localStorage.setItem('sessionId', response.sessionId);
    router.push({ name: 'home' });
    
}
</script>

<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form name="login-form" class="bg-light p-5 rounded shadow">
          <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input id="email" type="text" class="form-control" v-model="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input id="password" type="password" class="form-control" v-model="password" />
          </div>
          <button class="btn btn-primary" type="submit" @click.prevent="login">
            Login
          </button>
        </form>
        <p>{{ error }}</p>
      </div>
    </div>
  </div>
</template>
